.container {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper {
    width: 33.33vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 190px 105px 190px 88px;
}