.container {
    &:first-of-type {
        margin-left: 88px;
    }

    width: 400px;
    height: max-content;
    margin-top: 35px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 16px;

    }

    h2 {
        color: #4F4F4F;
        font-size: 14px;

    }

    h3 {
        font-size: 15px;
    }

    p {
        margin-top: -12px;
        margin-bottom: 12px;
        font-size: 15px;
    }
}

.date {
    padding: 5px 8px;
    background: #FFFFFF;
    width: max-content;
    border: 0.4px solid #333333;
    box-sizing: border-box;
    backdrop-filter: blur(200px);

    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 48px;
}