.container {
    grid-column: center-start / -1;
    display: grid;
    overflow-x: auto;

    &>* {
        // grid-column: center;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.wrapper {
    display: flex;
    width: 100%;
}