@import "mixins";

* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/// DESKTOP FIRST
* {
    font-size: 15px;
}

h1 {
    font-family: HelveticaBold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 0.006em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: HelveticaBold;
    font-size: 20px;
}

@include mobile() {
    * {
        font-size: 14px;
    }
}


.desktop-side-content {
    width: 300px;
    height: 500px;
    background: red;
}

.desktop-side-content-enter {
    opacity: 0;
    transform: scale(0.9);
}

.desktop-side-content-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.desktop-side-content-exit {
    opacity: 1;
}

.desktop-side-content-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}


.portfolio-cards-container {
    // margin-top: -30px;
}


#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    overflow: hidden;
    left: 50%;
    font-family: Arial;
    z-index: 22;
    transform: translateX(-50%);
    font-family: "readex pro";
    background: skyblue;
}

#loader:after {
    font-family: Helvetica;
    content: "";
    position: relative;
    animation: load 3s infinite;
}

@keyframes load {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    99% {
        content: "...";
    }
}

@keyframes loader-dissapear {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;

        display: none;
    }

}